<h1>Search for your ideal dorms based on specific criteria</h1>
<form action="{% url 'nu_dorm_ratings_app:logout' %}" style="float:right">
    <button type="submit">Logout</button>
</form>

<form id="dorm-search-form" autocomplete="off" action="{% url 'nu_dorm_ratings_app:results' %}" method="post">
    {% csrf_token %}
    <div style="display: block; margin-bottom: 10px">
        <label for="name-input">Name (Optional)</label>
        <input name="name" id="name-input"/>
    </div>
    <div style="display: block; margin-bottom: 10px">
    <label for="kitchen-input">Kitchen Required?</label>
    <input type="checkbox" name="kitchen" id="kitchen-input"/>
  </div>
  <div style="display: block; margin-bottom: 10px">
    <label for="gym-input" >Gym On Site?</label>
    <input type="checkbox" name="gym" id="gym-input"/>
  </div>
  <div style="display: block; margin-bottom: 10px">
    <label for="dining-hall-input">Dining Hall Required?</label>
    <input type="checkbox" name="dining_hall" id="dining-hall-input"/>
  </div>
  <div style="display: block; margin-bottom: 10px">
    <label for="air-conditioning-input">Air Conditioned?</label>
    <input type="checkbox" name="air_conditioning" id="air-conditioning-input"/>
  </div>
  <div style="display: block; margin-bottom: 10px">
      <label for="price_type">Price Type</label>
      <select name="price_type" form="dorm-search-form">
          <option value=''>Select a price type</option>
          <option value='EH'>Enhanced</option>
          <option value='S'>Standard</option>
          <option value='E'>Economy</option>
      </select>
  </div>
    <button type="submit">Search Dorms</button>
</form>
